.App-header {
  text-align: center;
  background-color: #222;
  color: white;
  width: 100vw;
}

.App-header h2 {
  margin-top: 0;
  margin-bottom:10px;
  padding:10px;
}

#cy {
  height:100%;
  width:100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0 auto; 
}

